<nav class="navbar">
    <a routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact : true}" class="nav-link">Home</a>
    <a routerLink="/todo" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact : true}" class="nav-link">Todo App</a>
    <a routerLink="/user" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact : true}" class="nav-link">Users</a>
</nav>

<hr>

<router-outlet />

<!-- <app-day01-counter-app></app-day01-counter-app> -->
<!-- <app-day02-profile-editor></app-day02-profile-editor> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-todo-list ></app-todo-list > -->
<!-- <app-day05-custom-directive></app-day05-custom-directive> -->
<!-- <app-day06-custom-pipe></app-day06-custom-pipe> -->
<!-- <app-student-list></app-student-list> -->